<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlets -->
    <servlet>
      <servlet-name>spieleclubGWTServlet</servlet-name>
      <servlet-class>de.spieleclub.server.gwt.SpieleclubGWTServiceImpl</servlet-class>
    </servlet>


    <servlet>
      <servlet-name>remoteapi</servlet-name>
      <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>remoteapi</servlet-name>
      <url-pattern>/remote_api</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>spieleclubGWTServlet</servlet-name>
      <url-pattern>/spieleclub_capture/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>spieleclubGWTServlet</servlet-name>
      <url-pattern>/spieleclub_analysis/service</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
      <welcome-file>spieleclub.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>remoteapi</web-resource-name>
        <url-pattern>/remote_api</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>admin</role-name>
      </auth-constraint>
    </security-constraint>

</web-app>